# To get an api key please use our referral code (they also have free tier)
# https://www.webshare.io/?referral_code=qvpjdwxqsblt
PROXY_API_KEY = ""
KAFKA_BOOTSTRAP_SERVERS = "kafka:9092"
SESSION_TIMEOUT = "60"
DATABASE_URL = "mysql+asyncmy://root:root_bot_buster@mysql:3306/playerdata"
DEBUG = "False"
PYTHONDONTWRITEBYTECODE=1

# api_ml
MLFLOW_S3_ENDPOINT_URL="http://minio:9000"
AWS_ACCESS_KEY_ID="minio_user"
AWS_SECRET_ACCESS_KEY="minio_password"
MODEL_URIS={"multi_model_v1":"s3://models/m-510406250fa844ffa004dbddbeb74615/artifacts"}
UV_HTTP_TIMEOUT=240